.rootLayout{
 padding: 16px 64px;
 height: 100vh;
 display: flex;
 flex-direction: column;

 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .logo{
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 8px;

        img{
            width: 32px;
            height: 32px;
        }
    }

    .logout {
        background-color: lightcoral;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
    }
 }

 main{
    flex: 1;
    overflow: hidden;
 } 
}

/* media queries */
@media screen and (min-width:900px){
    .rootLayout{
        padding: 16px 64px;
    }
}

@media screen and (max-width:500px){
    .rootLayout{
        padding: 10px 10px;
    }
}